.frame1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame1-frame1 {
  width: 100%;
  height: 2464px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 39, 97, 1);
}
.frame1-rectangle13 {
  top: 2040px;
  left: 105px;
  width: 275px;
  height: 167px;
  position: absolute;
}
.frame1-rectangle14 {
  top: 2252px;
  left: 105px;
  width: 397px;
  height: 162px;
  position: absolute;
}
.frame1-text {
  top: 235px;
  left: 72px;
  color: rgba(255, 255, 255, 1);
  width: 586px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text01 {
  color: rgba(255, 255, 255, 1);
}
.frame1-text02 {
  color: rgba(0, 0, 0, 1);
}
.frame1-text04 {
  top: 368px;
  left: 402px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text06 {
  top: 491px;
  left: 121px;
  color: rgba(255, 255, 255, 1);
  width: 297px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text08 {
  top: 526px;
  left: 121px;
  color: rgba(255, 255, 255, 1);
  width: 643px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text13 {
  top: 625px;
  left: 101px;
  color: rgba(255, 229, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text15 {
  top: 848px;
  left: 377px;
  color: rgba(255, 229, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text17 {
  top: 1140px;
  left: 96px;
  color: rgba(255, 229, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text19 {
  top: 1323px;
  left: 387px;
  color: rgba(255, 229, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text21 {
  top: 1512px;
  left: 438px;
  color: rgba(255, 229, 0, 1);
  width: 329px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text23 {
  top: 620px;
  left: 434px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text28 {
  top: 897px;
  left: 324px;
  color: rgba(255, 255, 255, 1);
  width: 424px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text33 {
  top: 1194px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 371px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text38 {
  top: 1411px;
  left: 330px;
  color: rgba(255, 255, 255, 1);
  width: 311px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text40 {
  top: 1584px;
  left: 458px;
  color: rgba(255, 255, 255, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text45 {
  top: 429px;
  left: 121px;
  color: rgba(255, 255, 255, 1);
  width: 618px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text47 {
  top: 302px;
  left: 72px;
  color: rgba(255, 229, 0, 1);
  width: 639px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-ellipse1 {
  top: 227px;
  left: 20px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-ellipse2 {
  top: 294px;
  left: 20px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-ellipse3 {
  top: 363px;
  left: 20px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-ellipse4 {
  top: 617px;
  left: 20px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-ellipse5 {
  top: 840px;
  left: 324px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-ellipse6 {
  top: 1132px;
  left: 34px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-ellipse7 {
  top: 1314px;
  left: 330px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-ellipse8 {
  top: 1502px;
  left: 380px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-text49 {
  top: 235px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text50 {
  top: 302px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text51 {
  top: 371px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text52 {
  top: 625px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text53 {
  top: 848px;
  left: 338px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text54 {
  top: 1140px;
  left: 50px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text55 {
  top: 1323px;
  left: 344px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text56 {
  top: 1510px;
  left: 395px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-iconsarrowupsend {
  top: 396px;
  left: 101px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1-iconsarrowupsend01 {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.frame1-iconsarrowupsend02 {
  top: 2089px;
  left: 491px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1-iconsarrowupsend03 {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.frame1-iconsarrowupsend04 {
  top: 1370px;
  left: 410px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1-iconsarrowupsend05 {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.frame1-iconsarrowupsend06 {
  top: 2089px;
  left: 625px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1-iconsarrowupsend07 {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.frame1-iconsarrowupsend08 {
  top: 1370px;
  left: 601px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1-iconsarrowupsend09 {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.frame1-iconsarrowupsend10 {
  top: 481px;
  left: 100px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1-iconsarrowupsend11 {
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.frame1-union {
  top: 562px;
  left: 95px;
  width: 22px;
  height: 28px;
  position: absolute;
}
.frame1-group2 {
  top: 727px;
  left: 31px;
  width: 57px;
  height: 145px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-vector1 {
  top: 11.000000953674316px;
  left: 0px;
  width: 50px;
  height: 126px;
  position: absolute;
}
.frame1-vector {
  top: 145px;
  left: 43px;
  width: 17px;
  height: 14px;
  position: absolute;
}
.frame1-vector01 {
  top: 21px;
  left: 43px;
  width: 21px;
  height: 14px;
  position: absolute;
}
.frame1-vector2 {
  top: 1563.5px;
  left: 377.5px;
  width: 74px;
  height: 42px;
  position: absolute;
}
.frame1-vector02 {
  top: 1556px;
  left: 389px;
  width: 17px;
  height: 14px;
  position: absolute;
}
.frame1-rectangle6 {
  top: 41px;
  left: -23px;
  width: 585px;
  height: 139px;
  position: absolute;
}
.frame1-text57 {
  top: 64px;
  left: 31px;
  color: rgba(0, 39, 97, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text62 {
  top: 1832px;
  left: 465px;
  color: rgba(255, 255, 255, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text64 {
  top: 1715px;
  left: 95px;
  color: rgba(255, 229, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text66 {
  top: 1755px;
  left: 95px;
  color: rgba(255, 255, 255, 1);
  width: 716px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-ellipse81 {
  top: 1706px;
  left: 34px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-text71 {
  top: 1715px;
  left: 48px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-group5 {
  top: 1833px;
  left: 527px;
  width: 18.133333206176758px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(4, 130, 4, 1);
}
.frame1-iconsarrowupsend12 {
  top: 1.1333333253860474px;
  left: 15.866666793823242px;
  width: 13.600001335144043px;
  height: 13.599998474121094px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1-iconsarrowupsend13 {
  top: 0.8499999046325684px;
  left: 0.8500000834465027px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.frame1-text72 {
  top: 2039px;
  left: 470px;
  color: rgba(255, 229, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Rubik;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text74 {
  top: 2153px;
  left: 407px;
  color: rgba(255, 255, 255, 1);
  width: 343px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text76 {
  top: 2095px;
  left: 407px;
  color: rgba(255, 255, 255, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text78 {
  top: 1376px;
  left: 330px;
  color: rgba(255, 255, 255, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text80 {
  top: 2095px;
  left: 502px;
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text82 {
  top: 1376px;
  left: 421px;
  color: rgba(255, 255, 255, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text84 {
  top: 2095px;
  left: 636px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text86 {
  top: 1376px;
  left: 612px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-ellipse9 {
  top: 2031px;
  left: 407px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.frame1-text88 {
  top: 2040px;
  left: 417px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-image1 {
  top: 2222px;
  left: 91px;
  width: 400px;
  height: 180px;
  position: absolute;
}
.frame1-microsoft-teamsimage631 {
  top: 2031px;
  left: 91px;
  width: 278px;
  height: 166px;
  position: absolute;
}
.frame1-group7 {
  top: 2203px;
  left: 506px;
  width: 82px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-vector03 {
  top: 61px;
  left: 14.000001907348633px;
  width: 17px;
  height: 14px;
  position: absolute;
}
.frame1-vector3 {
  top: 0px;
  left: 5.000001430511475px;
  width: 77px;
  height: 70px;
  position: absolute;
}
.frame1-rectangle7 {
  top: 690px;
  left: 117px;
  width: 634px;
  height: 87px;
  position: absolute;
}
.frame1-rectangle8 {
  top: 855px;
  left: 117px;
  width: 183px;
  height: 245px;
  position: absolute;
}
.frame1-rectangle10 {
  top: 1328px;
  left: 47px;
  width: 261px;
  height: 137px;
  position: absolute;
}
.frame1-rectangle11 {
  top: 1511px;
  left: 47px;
  width: 315px;
  height: 155px;
  position: absolute;
}
.frame1-rectangle12 {
  top: 1843px;
  left: 105px;
  width: 343px;
  height: 149px;
  position: absolute;
}
.frame1-rectangle9 {
  top: 1152px;
  left: 413px;
  width: 322px;
  height: 140px;
  position: absolute;
}
.frame1-microsoft-teamsimage621 {
  top: 677px;
  left: 101px;
  width: 638px;
  height: 87px;
  position: absolute;
}
.frame1-microsoft-teamsimage611 {
  top: 840px;
  left: 100px;
  width: 186px;
  height: 249px;
  position: absolute;
}
.frame1-rectangle1 {
  top: 987px;
  left: 91px;
  width: 74px;
  height: 10px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-group1 {
  top: 1129px;
  left: 420px;
  width: 321.0000305175781px;
  height: 170px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-microsoft-teamsimage591 {
  top: 0px;
  left: 3.7638211250305176px;
  width: 317px;
  height: 154px;
  position: absolute;
}
.frame1-rectangle2 {
  top: 127.43216705322266px;
  left: 0px;
  width: 40px;
  height: 5px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle3 {
  top: 142px;
  left: 281px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-microsoft-teamsimage601 {
  top: 1314px;
  left: 34px;
  width: 264px;
  height: 140px;
  position: absolute;
}
.frame1-group4 {
  top: 1500px;
  left: 34px;
  width: 325px;
  height: 152.551025390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-group3 {
  top: 0px;
  left: 0px;
  width: 325px;
  height: 152.551025390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-microsoft-teamsimage612 {
  top: 0px;
  left: 0px;
  width: 317px;
  height: 153px;
  position: absolute;
}
.frame1-rectangle4 {
  top: 33.16326904296875px;
  left: 187.18820190429688px;
  width: 138px;
  height: 9px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-group6 {
  top: 1815px;
  left: 91px;
  width: 365px;
  height: 167px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-microsoft-teamsimage622 {
  top: 0px;
  left: 0px;
  width: 343px;
  height: 167px;
  position: absolute;
}
.frame1-rectangle41 {
  top: 20px;
  left: 325px;
  width: 40px;
  height: 16px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-screenshot20240302at12391 {
  top: 362px;
  left: 121px;
  width: 259px;
  height: 37px;
  position: absolute;
}
.frame1-rectangle15 {
  top: 347px;
  left: 309px;
  width: 36px;
  height: 67px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-group {
  top: 22px;
  left: 647px;
  width: 145px;
  height: 69.45576477050781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-vector04 {
  top: 0px;
  left: 0px;
  width: 145px;
  height: 69px;
  position: absolute;
}
.frame1-group1 {
  top: 5.7660932540893555px;
  left: 5.766100883483887px;
  width: 133.46780395507812px;
  height: 57.92356491088867px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-vector05 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
  position: absolute;
}
.frame1-group2 {
  top: 11.588679313659668px;
  left: 2.8946852684020996px;
  width: 52.13420104980469px;
  height: 34.74948501586914px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-vector06 {
  top: 26.92293357849121px;
  left: 0.0000014349006960401312px;
  width: 52px;
  height: 8px;
  position: absolute;
}
.frame1-vector07 {
  top: 0.000056162829423556104px;
  left: 17.381391525268555px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.frame1-vector08 {
  top: 24.270790100097656px;
  left: 119.07083129882812px;
  width: 14px;
  height: 9px;
  position: absolute;
}
.frame1-vector09 {
  top: 24.270790100097656px;
  left: 73.89582824707031px;
  width: 3px;
  height: 9px;
  position: absolute;
}
.frame1-vector10 {
  top: 24.270790100097656px;
  left: 78.21624755859375px;
  width: 10px;
  height: 9px;
  position: absolute;
}
.frame1-group3 {
  top: 24.27042579650879px;
  left: 110.17076110839844px;
  width: 9.800707817077637px;
  height: 9.382332801818848px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-vector11 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 9px;
  position: absolute;
}
.frame1-vector12 {
  top: 24.270790100097656px;
  left: 89.50370788574219px;
  width: 10px;
  height: 9px;
  position: absolute;
}
.frame1-vector13 {
  top: 24.270790100097656px;
  left: 63.71625900268555px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.frame1-vector14 {
  top: 24.270790100097656px;
  left: 100.39663696289062px;
  width: 9px;
  height: 9px;
  position: absolute;
}
