.frame26-feb-cash-deposition-pop-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame26-feb-cash-deposition-pop-up-frame26-feb-cash-deposition-pop-up {
  width: 100%;
  height: 972px;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(43, 87, 223, 1) 0%, rgba(155, 72, 205, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.frame26-feb-cash-deposition-pop-up-text {
  top: 118.2638931274414px;
  left: 23.75px;
  color: rgba(0, 255, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18.749998092651367px;
  font-style: italic;
  text-align: center;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text02 {
  top: 268.8888854980469px;
  left: 16.25px;
  color: rgba(255, 255, 255, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 12.499999046325684px;
  font-style: Medium;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text04 {
  top: 170.76388549804688px;
  left: 97.5px;
  color: rgba(255, 255, 255, 1);
  width: 226px;
  height: auto;
  position: absolute;
  font-size: 12.499999046325684px;
  font-style: Medium;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text06 {
  top: 375.1388854980469px;
  left: 116.875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12.499999046325684px;
  font-style: Medium;
  text-align: right;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text08 {
  top: 542.013916015625px;
  left: 177.5px;
  color: rgba(255, 255, 255, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 12.499999046325684px;
  font-style: Medium;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text13 {
  top: 779.513916015625px;
  left: 123.125px;
  color: rgba(255, 255, 255, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 12.499999046325684px;
  font-style: Medium;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text18 {
  top: 874.513916015625px;
  left: 44.00010681152344px;
  color: rgba(255, 255, 255, 1);
  width: 272px;
  height: auto;
  position: absolute;
  font-size: 15.624999046325684px;
  font-style: Medium;
  text-align: center;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-rectangle1965 {
  top: 48.888893127441406px;
  left: 0px;
  width: 360px;
  height: 56px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-text20 {
  top: 66.3888931274414px;
  left: 18.75px;
  color: rgba(55, 55, 55, 1);
  width: 323px;
  height: auto;
  position: absolute;
  font-size: 21.874998092651367px;
  font-style: Medium;
  text-align: center;
  font-family: Rubik;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-group21034 {
  top: 296.3888854980469px;
  left: 16.25px;
  width: 260.625px;
  height: 54.375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame26-feb-cash-deposition-pop-up-rectangle1971 {
  top: 11.250006675720215px;
  left: 0px;
  width: 261px;
  height: 43px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-image33 {
  top: 0px;
  left: 0px;
  width: 253px;
  height: 46px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-text22 {
  top: 240.76388549804688px;
  left: 226.875px;
  color: rgba(255, 198, 0, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 22.412851333618164px;
  font-style: Medium;
  text-align: right;
  font-family: Rubik;
  font-weight: 500;
  line-height: 15.688998222351074px;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text24 {
  top: 170.76388549804688px;
  left: 18.75px;
  color: rgba(255, 198, 0, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 22.412851333618164px;
  font-style: Medium;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: 15.688998222351074px;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text26 {
  top: 372.6388854980469px;
  left: 270px;
  color: rgba(255, 198, 0, 1);
  width: 72px;
  height: auto;
  position: absolute;
  font-size: 22.412851333618164px;
  font-style: Medium;
  text-align: right;
  font-family: Rubik;
  font-weight: 500;
  line-height: 15.688998222351074px;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text28 {
  top: 625.763916015625px;
  left: 160.625px;
  color: rgba(255, 198, 0, 1);
  width: 72px;
  height: auto;
  position: absolute;
  font-size: 22.412851333618164px;
  font-style: Medium;
  text-align: right;
  font-family: Rubik;
  font-weight: 500;
  line-height: 15.688998222351074px;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text30 {
  top: 748.263916015625px;
  left: 123.125px;
  color: rgba(255, 198, 0, 1);
  width: 72px;
  height: auto;
  position: absolute;
  font-size: 22.412851333618164px;
  font-style: Medium;
  text-align: right;
  font-family: Rubik;
  font-weight: 500;
  line-height: 15.688998222351074px;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text32 {
  top: 513.263916015625px;
  left: 177.5px;
  color: rgba(255, 198, 0, 1);
  width: 72px;
  height: auto;
  position: absolute;
  font-size: 22.412851333618164px;
  font-style: Medium;
  text-align: right;
  font-family: Rubik;
  font-weight: 500;
  line-height: 15.688998222351074px;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-group21033 {
  top: 404.5138854980469px;
  left: 180px;
  width: 162.5px;
  height: 81.46666717529297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 47, 147, 1);
}
.frame26-feb-cash-deposition-pop-up-image34 {
  top: 0.000006781684078305261px;
  left: 6.4990234375px;
  width: 156px;
  height: 75px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-group21035 {
  top: 503.8888854980469px;
  left: 14.375px;
  width: 148.125px;
  height: 77.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 47, 147, 1);
}
.frame26-feb-cash-deposition-pop-up-image35 {
  top: 0px;
  left: 0px;
  width: 142px;
  height: 72px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-rectangle1973 {
  top: 712.638916015625px;
  left: 19.375px;
  width: 97px;
  height: 134px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-rectangle1972 {
  top: 599.513916015625px;
  left: 243.75px;
  width: 99px;
  height: 129px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-image37 {
  top: 712.638916015625px;
  left: 19.375px;
  width: 92px;
  height: 130px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-image36 {
  top: 599.513916015625px;
  left: 248.75px;
  width: 94px;
  height: 124px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-group21036 {
  top: 197.63888549804688px;
  left: 18.75px;
  width: 34.179603576660156px;
  height: 34.179603576660156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame26-feb-cash-deposition-pop-up-shape-thickmenuhamburgertablelist {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-group21037 {
  top: 214.50442504882812px;
  left: 53.12337112426758px;
  width: 48.82797622680664px;
  height: 64.00748443603516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame26-feb-cash-deposition-pop-up-vector350 {
  top: -15.15288573814496px;
  left: 47.61905672539558px;
  width: 22px;
  height: 61px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-vector349 {
  top: 422.0138854980469px;
  left: 133.798828125px;
  width: 22px;
  height: 61px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-vector351 {
  top: 637.013916015625px;
  left: 31.298828125px;
  width: 22px;
  height: 61px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-vector3501 {
  top: 526.5037841796875px;
  left: 331.1669921875px;
  width: 22px;
  height: 61px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-vector352 {
  top: 302.1286315917969px;
  left: 323.0419921875px;
  width: 22px;
  height: 61px;
  position: absolute;
}
.frame26-feb-cash-deposition-pop-up-group21043 {
  top: 919.751708984375px;
  left: 0px;
  width: 360px;
  height: 52.13714599609375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(92, 0, 152, 1);
}
.frame26-feb-cash-deposition-pop-up-text34 {
  top: 10.33804988861084px;
  left: 30.625px;
  color: rgba(255, 255, 255, 1);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 12.465276718139648px;
  font-style: Bold;
  text-align: center;
  font-family: Rubik;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame26-feb-cash-deposition-pop-up-text35 {
  font-weight: 700;
}
